/* CSS by Rachael Martinez-Jones */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.skip-link a {
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link a:focus {
    position: static;
    width: auto;
    height: auto;
}
/* ///ADD/// Navigation Styles */

/* ///ADD/// Global Layout Styles */
* {
    box-sizing: border-box;
    line-height: 1.15;
    margin: 0;
    padding: 0;
}
/* ///ADD/// Global Text Styles */
header {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 20px;
  margin-bottom: 35px;
}

body {
  background-color: var(--watchdog-white);
}

main {
  margin: 0 25px;
}
h1 {
  font-size: 60px;
}

#breaking-news h3 {
  font-size: 19px;
  font-family: var(--font-heading);
  color: var(--watchdog-white);
  padding-bottom: 2px;
}

blockquote {
  font-weight: bold;
  text-align: center;
  padding-bottom: 25px;
}

#breaking-news {
  padding-bottom: 20px;
}

#breaking-news-container div {
  padding: 0 15px;
  padding-bottom: 10px;
  padding-top: 15px;
  margin-top: 5px;
  margin-bottom: 8px;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  box-shadow: var(--shadow);
  border: 1px solid var(--truth-text);
}

#breaking-news-container h3 {
  border-bottom: 2px solid var(--watchdog-white);
}

#breaking-news-container p {
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: var(--font-body);
  font-size: 15px;
}

#featured-articles-container div {
  box-shadow: var(--shadow);
  padding: 10px;
  margin-bottom: 5px;
}

#featured-articles h3 {
  font-size: 25px;
  font-family: var(--font-heading);
  padding-bottom: 2px;
  border-bottom: 2px solid var(--story-subtitle);
  line-height: 1.5;
}

#featured-articles p {
  padding-top: 10px;
  font-family: var(--font-body);
  font-size: 20px;
}

video {
  width: 100%;
  height: auto;
  
}

#stay-informed  h2{
  margin-top: 30px;
  padding-bottom: 10px;
  font-size: 35px;
}

#stay-informed p {
  padding-bottom: 15px;
  font-size: 20px;
}

form {
  background-color: var(--news-flash);
  color: #ffffff;
  padding: 10px;
  box-shadow: var(--shadow);
}

legend {
  margin-left: 10px;
  text-transform: uppercase;
}

#name, #phone {
  width: 100%;
  height: 50px;
  margin-top: 5px;
}

#name {
  margin-bottom: 25px;
}

#phone {
  margin-bottom: 15px;
}

fieldset {
  border: solid 2px var(--blue-bulletin);
  margin: 5px;
}

fieldset legend {
  margin-bottom: 10px;
}

fieldset input[type="checkbox"] {
  margin-left: 5px;
  margin-bottom: 15px;
}

#subscribe {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  text-transform: uppercase;
  width: 100%;
}

footer {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 10px;
}

footer h2 {
  font-size: 35px;
  padding-bottom: 10px;
}

footer button {
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  border: none;
  padding: 20px 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}
 
small {
  font-size: 14px;
  text-align: center;
}

/* ///ADD/// medium styles 620px */
@media (min-width: 620px) {

  #breaking-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  #featured-articles h2 {
    padding-bottom: 20px;
  }

  #featured-articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }




}

/* ///ADD/// large styles 920px */


/* ///ADD/// x-large styles 1024px */


/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}